[submodule "NIST_VASIR"]
	path = NIST_VASIR
	url = https://github.com/avilleret/NIST_VASIR.git
[submodule "ofxCv"]
	path = ofxCv
	url = https://github.com/avilleret/ofxCv.git
[submodule "ofxCvPiCam"]
	path = ofxCvPiCam
	url = https://github.com/orgicus/ofxCvPiCam
